.btn {
   border: none;
   color: $color-light;
   font-size: 1.5rem;
   font-weight: 300;
   text-transform: uppercase;
   border-radius: 50px;
   background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
   position: relative;
   cursor: pointer;
   overflow: hidden;
   
   &__front,
   &__back {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: transform 0.2s;
   }

   &__front {
      padding: 2rem 7.5rem;
   }

   &__back {
      position: absolute;
      padding: 2rem 0;
      top: 0;
      left: 0;
      transform: translateY(-100%);
   }

   &:hover {
      background-image: linear-gradient(to left, $color-primary-light, $color-primary-dark);
   }

   &:hover  &__front {
      transform: translateY(100%)
   }

   &:hover &__back {
      transform: translateY(0)
   }

   &:focus {
      outline: none;
      animation: pulsate 1s infinite;
   }
}

.btn-link {
   display: flex;
   color: $color-primary;
   font-size: inherit;
   padding-bottom: 2px;
   background: transparent;
   border: none;
   border-bottom: 1px solid currentColor;
   transition: color 0.2s;
   cursor: pointer;

   &:hover {
      color: $color-grey-7;
   }
   
   &:focus {
      outline: none;
      animation: pulsate 1s infinite;
   }

   &__arrow {
      margin-left: 3px;
      transition: margin 0.2s;
   }

   &:hover &__arrow,
   &:focus &__arrow {
      margin-left: 8px;
   }
}
 


@keyframes pulsate {
   0% {
      transform: scale(1);
      box-shadow: none; 
   }
   50% {
      transform: scale(1.05);
      box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
   }
   100% {
      transform: scale(1);
      box-shadow: none;
   }
}