.overview {
   display: flex;
   align-items: center;
   border-bottom: $hr-line;

   &__heading {
      display: flex;
      align-items: center;
      font-size: 2.25rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;
      margin-right: auto;
      line-height: 1.2;
      flex: 1 1;

      @include respond(phone) {
         padding-right: 0;
         flex-direction: column;
         align-items: unset;
      }
   }

   &__stars {
      display: flex;
      padding-left: 1.5rem;

      @include respond(phone) { 
         padding: 0;
      }
   }

   &__icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: currentColor;
   } 

   &__location {
      font-size: 1.2rem;
      align-items: center;
      line-height: 1;
   }

   &__rating {
      background-color: $color-primary;
      color: $color-light;
      margin-left: 3rem;
      padding: 0 2.25rem;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }

   &__rating-avg {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;
   }

   &__rating-count {
      font-size: 0.8rem;
      text-transform: uppercase;
   }
}