.side-nav {
   font-size: 1.4rem;
   list-style: none;
   margin-top: 3.5rem;
   backface-visibility: hidden;

   @include respond(tab-port) {
      display: flex;
      justify-content: center;
      margin: 0;
   }

   &__item {
      display: flex;
      position: relative;

      &:not(:last-child){
         margin-bottom: 0.5rem;

         @include respond(tab-port) {
            margin: 0;
         }
      }

      @include respond(tab-port) {
         flex: 1;
         justify-content: center;
      }
   }

   &__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-primary;
      transform: scaleY(0);
   }

   &__item:hover::before,
   &__item--active::before {
      transform: scaleY(1);
      width: 100%;
      transition: 
         transform .3s, 
         width .3s .1s cubic-bezier(1,0,0,1),
         opacity .1s;
   }

   &__item:active::before {
      opacity: 0.9;
   }

   &__link:link,
   &__link:visited {
      position: relative;
      color: $color-grey-1;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      z-index: 1;

      @include respond(phone) {
         padding: 1.5rem 0;
         flex-direction: column;
         justify-content: center;
      }
   }

   &__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      fill: currentColor;

      @include respond(phone) {
         margin: 0;
      }
   }
}