*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%; // 1rem = 10px; 10/16; 1200-1800px
   @supports (scroll-behavior: smooth) {
      scroll-behavior: smooth;
   }
   
   @include respond(tab-land) {
      font-size: 56.25%;      // 1rem = 9px; <1200px
   }
   @include respond(tab-port) {
      font-size: 50%;      // 1rem = 8px; <900px
   }
   // @include respond(phone) {
   //    font-size: 37.5%;   // 1rem = 5px; <600px
   // }
   @include respond(big-desk) {
      font-size: 75%;      // 1rem = 12px >1800px
   }
}

body {
   box-sizing: border-box;
   background-image: linear-gradient(90deg, $color-primary-light, $color-primary-dark);
}

::selection {
   background-color: $color-primary;
   color: $color-light;
} 